:root {
  --color-white: #ffffff;
  --color-black: #2c3e50;
  --color-gray: #dfe6e9;
  --color-silver: #95a5a6;
  --color-red: #eb4d4b;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.component-form {
  padding: 15px;
  width: 75%;
  margin: auto;
}

.component-searchbar {
  width: 100%;
  padding: 10px 6px;
  font-size: 18px;
  border: none;
  border-bottom: solid 1px var(--color-silver);
}

.component-searchbar:focus {
  outline: none;
  border-bottom: solid 2px var(--color-black);
}

.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.grid-item {
  position: relative;
  flex-basis: 25%;
  -ms-flex: auto;
  width: 250px;
  box-sizing: border-box;
}

.grid-content {
  position: relative;
  height: 250px;
  overflow: hidden;
  margin: 10px;
}

.grid-item:hover .fav-btn {
  opacity: 0.5;
  transition-duration: 0.5s;
}

.grid-item:hover .fav-btn.fav-btn.favorited {
  opacity: 1;
}

.grid-content:hover {
  border-bottom: solid 1px var(--color-red);
}

.fav-btn__wrapper {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.fav-btn {
  opacity: 0;
  position: relative;
  top: 0;
  background-color: var(--color-red);
  height: 20px;
  width: 20px;
  transform: rotate(-45deg);
}

.fav-btn.favorited {
  opacity: 1;
}

.fav-btn:before,
.fav-btn:after {
  position: absolute;
  border-radius: 100%;
  content: '';
  background-color: var(--color-red);
  height: 20px;
  width: 20px;
}

.fav-btn:before {
  left: 0;
  top: -10px;
}

.fav-btn:hover {
  cursor: pointer;
}

.zero-data {
  width: 100%;
}

.zero-data p {
  text-align: center;
}

.btn-more__wrapper {
  margin: 30px auto;
}

.btn-more {
  border-radius: 4px;
  font-size: 16px;
  padding: 15px 45px;
  background-color: var(--color-black);
  color: var(--color-white);
  border: none;
}

.btn-more:hover {
  cursor: pointer;
  background-color: var(--color-white);
  color: var(--color-black);
  transition-duration: 0.5s;
  border: solid 2px var(--color-black);
}

.grid-item__skeleton {
  background-color: var(--color-gray);
  height: 250px;
  position: relative;
  flex-basis: 25%;
  -ms-flex: auto;
  width: 259px;
  padding: 10px;
  border: solid 5px #ffffff;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 8px;
}

.grid-item__skeleton::after {
  opacity: 0.2;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    var(--color-gray),
    var(--color-white),
    var(--color-gray)
  );
  animation: loading 1s ease-in-out infinite;
}

img {
  width: 100%;
}

@keyframes loading {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}

@media (max-width: 1120px) {
  .grid-item {
    flex-basis: 25%;
  }
  .grid-item__skeleton {
    flex-basis: 25%;
  }
}

@media (max-width: 860px) {
  .grid-item {
    flex-basis: 50%;
  }
  .grid-item__skeleton {
    flex-basis: 50%;
  }
}

@media (max-width: 720px) {
  .grid-item {
    flex-basis: 100%;
  }
  .grid-item__skeleton {
    flex-basis: 50%;
  }
}

@media (max-width: 480px) {
  .grid-item {
    flex-basis: 100%;
  }
  .grid-item__skeleton {
    flex-basis: 100%;
  }
}
