@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

:root {
  --color-white: #ffffff;
  --color-black: #2c3e50;
  --color-gray: #dfe6e9;
  --color-silver: #95a5a6;
  --color-red: #eb4d4b;
  --font-primary: 'Open Sans', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
}

a:visited {
  color: inherit;
  text-decoration: none;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100%;
  padding-bottom: 90px;
}

.App {
  text-align: center;
  min-height: 100%;
}

.app-navbar {
  text-align: left;
  padding: 20px 0;
  border-bottom: solid 3px var(--color-gray);
  margin: 0;
  position: relative;
  overflow: hidden;
}

.app-title__wrapper,
.app-menu__wrapper {
  float: left;
}

.app-title,
.app-menu {
  font-size: 24px;
}

.app-title:hover,
.app-menu:hover {
  cursor: pointer;
}

.app-title {
  border-right: solid 1px var(--color-black);
  padding-right: 15px;
  margin-right: 30px;
}

.app-menu {
  float: left;
  margin-right: 15px;
  opacity: 0.25;
}

.app-menu.active {
  opacity: 1;
}

.container {
  clear: both;
  max-width: 1120px;
  margin: 0 auto;
}

.component-form {
  padding: 15px;
  width: 75%;
  margin: 30px auto;
}

.component-searchbar {
  width: 100%;
  padding: 10px 6px;
  font-size: 18px;
  border: none;
  border-bottom: solid 1px var(--color-silver);
}

.component-searchbar:focus {
  outline: none;
  border-bottom: solid 2px var(--color-black);
}

.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.grid-item {
  position: relative;
  flex-basis: 25%;
  -ms-flex: auto;
  width: 250px;
  box-sizing: border-box;
}

.grid-content {
  position: relative;
  height: 250px;
  overflow: hidden;
  margin: 10px;
}

.grid-item:hover .fav-btn {
  opacity: 0.5;
  transition-duration: 0.5s;
}

.grid-item:hover .fav-btn.fav-btn.favorited {
  opacity: 1;
}

.grid-content:hover {
  border-bottom: solid 1px var(--color-red);
}

.fav-btn__wrapper {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.fav-btn {
  opacity: 0;
  position: relative;
  top: 0;
  background-color: var(--color-red);
  height: 20px;
  width: 20px;
  transform: rotate(-45deg);
}

.fav-btn.favorited {
  opacity: 1;
}

.fav-btn:before,
.fav-btn:after {
  position: absolute;
  border-radius: 100%;
  content: '';
  background-color: var(--color-red);
  height: 20px;
  width: 20px;
}

.fav-btn:before {
  left: 0;
  top: -10px;
}

.fav-btn:hover {
  cursor: pointer;
}

.blank-data__wrapper {
  width: 100%;
  margin: 60px 0;
}

.blank-data__wrapper .blank-data {
  text-align: center;
  font-size: 18px;
}

.btn-more__wrapper {
  margin: 30px auto;
}

.btn-more {
  border-radius: 4px;
  font-size: 16px;
  padding: 15px 45px;
  background-color: var(--color-white);
  color: var(--color-black);
  border: none;
  border: solid 2px var(--color-black);
}

.btn-more:hover {
  cursor: pointer;
  background-color: var(--color-black);
  color: var(--color-white);
  transition-duration: 0.5s;
}

.grid-item__skeleton {
  background-color: var(--color-gray);
  height: 250px;
  position: relative;
  flex-basis: 25%;
  -ms-flex: auto;
  width: 259px;
  padding: 10px;
  border: solid 5px #ffffff;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 8px;
}

.grid-item__skeleton::after {
  opacity: 0.2;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    var(--color-gray),
    var(--color-white),
    var(--color-gray)
  );
  animation: loading 1s ease-in-out infinite;
}

img {
  width: 100%;
}

.app-footer {
  margin-top: 30px;
  clear: both;
  padding: 15px 0;
  background-color: var(--color-silver);
  color: var(--color-white);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

@keyframes loading {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}

@media (max-width: 1120px) {
  .grid-item {
    flex-basis: 25%;
  }
  .grid-item__skeleton {
    flex-basis: 25%;
  }
}

@media (max-width: 860px) {
  .grid-item {
    flex-basis: 50%;
  }
  .grid-item__skeleton {
    flex-basis: 50%;
  }
}

@media (max-width: 720px) {
  .grid-item {
    flex-basis: 100%;
  }
  .grid-item__skeleton {
    flex-basis: 50%;
  }
}

@media (max-width: 480px) {
  .grid-item {
    flex-basis: 100%;
  }
  .grid-item__skeleton {
    flex-basis: 100%;
  }
}
